
{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}





    <div>
      {% if flights: %}
        <h3>All flight:</h3>
        {% for flight in flights %}
        <div class="col-lg-5">
            <p><b> From:</b> {{flight[1].name}}
                <br>
              <b>To:</b> {{flight[2].name}}
            <br>
              <b>Deparure time:</b> {{flight[0].departure_time}}
            <br>
              <b>Landing time:</b> {{flight[0].landing_time}}
              <a class="active" href="{{ url_for('book_verification',customer_details=customer_details,flight_id=flight[0].id) }}">Book</a>
            <br><br>
            </p>
        </div>
        {% endfor %}
      {% else: %}
        <h3>No flights found</h3>
        {% endif %}
    </div>


{% endblock %}
