{% extends "layout.html" %}
{% block content %}
    
    <h1>Welcome to the best flight booking site</h1>
    <p>Find your next flight</p>
    <form method="POST" action="{{url_for('flights')}}">
        <label>From:</label>
        <input type="text" name="origin_country"  placeholder="Country" />
        <label>To:</label>
        <input type="text" name="destination_country"  placeholder="Country" />
        <label>Depart:</label>
        <input type="date" name="departure_time"  placeholder="Add date" />
        <label>Return:</label>
        <input type="date" name="landing_time"  placeholder="Add date" />
        <label>Travelers:</label>
        <input type="number" name="travelers" placeholder="Passenger numbers" />
        
        <input type="submit" class="btn btn-primary" value="Search">
    </form>

{% endblock %}