<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight site</title>
</head>

<body>
    <p><strong>Navigation:</strong> <a href="/">Home</a> <a href="{{url_for('add_user')}}">Add user</a> <a href="mailto:Ofir6bd@gmail.com">Contact us</a></p>
    {% block content %}
    
    


    
    {% endblock %}
    <p>&copy; 2023 Incredible flight site LLC</p>
</body>

</html>